  
  .wrapper{
    display: flex;
  }
  
  .wrapper .sidebar{
    margin: 0 auto;
    width: 450px;
    height: 100%;
    background: #333333;
    padding: 0px;
    position: fixed;
    color: white;
    text-decoration: none;
  }

  .li-dashboard{
    text-align: center;
    font-size: 2em;
    position: relative;
    right: 40px;
    padding: 40px 0px;
    margin-right: 0; 
    list-style-type: none;
    cursor: pointer;
  }
  
  .li-dashboard::after{
    content:'';
    width: 0;
    display: block;
    height: 2px;
    background-color: #ffffff;
    transition: width .5s;
  }

  .li-dashboard:hover::after{
    width: 110%;
    transition: width .5s;
  }

  @media (max-height: 500px){
    .social_media{
      display: none !important;
    }
  }