.div1{
}
.p-description{
    font-size: 1.6em;
    height: 400px;
    width: 800px;
    text-align: left;
    position: relative;
    left: 800px;
}
.your-commentary{
    margin-left: 340px;
    background: #5E7355;
    width: 1200px;
    height: 250px;
    margin-bottom: 50px;
    margin-top: 20px;
    border-radius: 20px;
}
.p-1{
    position: relative;
    right: 400px;
}
.txt{
    display: flex;
    align-items: center;
    position: relative;
    top: 100px;
    margin-left: 30px;
}
.textareaC{
    width: 400px;
    height: 150px;
    resize: none;
    position: relative;
    left: 400px;
    bottom: 30px;
    outline: none;
}
.submitcomment{
    position: relative;
    top: -30px;
    left: 600px;
    background: #828282;
    color: white;
    border-radius: 15px;
    border: none;
    width: 60px;
    height: 30px;
    transform: scale(2)
}
.commentary{
    margin-left: 340px;
    background: #5E7355;
    width: 1200px;
    height: 250px;
    margin-bottom: 50px;
    margin-top: 20px;
    border-radius: 20px;
}
.author-commentary{
text-align: left;
font-size: 2.2em;
margin-top: 10px;
margin-left: 30px;
}

.txt-commentary{
    margin-left: 10px;
    text-align: left;
    font-size: 1.8em;
}