header {
    background-color: hsla(103, 15%, 39%, 0.7);
    padding: 10px;
    position: sticky;
    top: 0px;
    max-width: 100%;
    z-index: 5;
    box-shadow: 0px 1px 10px #333;
}

header nav {
    display: flex;
    justify-content: space-between;
}

#logoimg {
    height: 33px;
    opacity: .9;
    padding: 5px 15px;
}

#admenu{
    background-color: grey;
}

.logo{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-size: 2.2rem;
    color: #101010;
    font-weight: bold; 
}

#fontmenu {
    font-size: 1.8rem;
}

header ul {
    display: flex;
}

header li {
    position: relative;
    padding: 10px 15px;  
    list-style-type: none;
}

header li a::after {
    content:"";
    width: 0%;
    position: absolute;
    height: 2px;
    bottom: 0px;
    left: 0px;
    background-color: #fafafa;
    visibility: hidden;
    transition: all 0.3s ease-out;
}

header li a:hover::after{
    width: 100%;
    visibility: visible;
}