#img-intro {
    display: flex;
    width: 100%;
    height: 30vw;
    padding: 0;
    text-align: center;
    color: white;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-size: cover;
    padding: 150px 0;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    position: relative;
    bottom: 150px;
}
 #img-sobre{
    float: right;
    transform: scale(0.5);
    margin: 0 auto;
    position: relative;
    left: 350px;
}


#sct1pcpl {
    position: relative; 
    text-align: center;
}

#titulo1 {
    font-size: 5.2rem;
    font-weight: bold;
    text-shadow: 1px 1px 10px #EFDFD5;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    top: 25%;
    left: 50%;
    width: 100%;
}

#sct2pcpl {
    background: #ADBC78;
    padding: 50px 12.5px;
    border: .5px 0px solid rgba(51, 51, 51, 0.2);
}

.titulo2 {
    font-size: 3.8rem;
    margin-bottom: 0px;
    font-weight: 500;
    text-align: center;
    position: relative;
    bottom: 300px;
}
.titulo3{
    font-size: 3.8rem;
    margin-bottom: 0px;
    font-weight: 500;
    text-align: center;
}

#prod_pcpl{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 200px;
}
#prod_pcpl div {
    background-color: #5E7355;
    width: 220px;
    height: 320px;
    margin: 10px 7.5px;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 2px 2px 5px #202020;
    margin: 60px;
    margin-bottom: 10px;
}

#prod_pcpl div:hover {
    animation-name: zoom;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-delay: 0.2s;

}

@keyframes zoom {
    0% {transform: scale(1)}
    100% {transform: scale(1.25);}
}
#sct3pcpl {
    background: #EFDFD5;
    padding: 50px 12.5px;
    border: 1px 0px solid rgba(51, 51, 51, 0.2);
}

#sobre_pcpl {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;   
}

#sobre_pcpl div {
    margin: 10px 7.5px;
    width: 50%;
}

#sobre_pcpl p {
    text-align: left;
    font-size: 1.8rem;
    line-height: 1.6;
}

#sobre_pcpl img{
    border-radius: 10px;
    box-shadow: 1px 1px 10px #202020;
}

@media screen and (max-width: 800px) {
    #titulo1 {
        font-size: 4.5rem;
    }
}