#sct_prod{
    background-color: rgb(173, 188, 120);
    padding: 45px 12.5px;
}

#loja {
    font-size: 4.4rem;
    text-align: center;
    font-weight: 600;
    padding-bottom: 45px;
} 

.label_prod {
    font-size: 1.8rem;
    margin: auto 15px;
    white-space: nowrap;
}

.input_prod {
    padding: 5px;
    font-size: 1.6rem;
    margin: 0px 15px;
    width: 100%;
    display: block;
    border-radius: 5px;
    border: 1px solid rgba(21, 21, 21, 0.4);
    background-color: #EFDFD5;
    box-shadow: 1px 1px 7px rgba(21, 21, 21, 0.4);
    font-style: italic;
    outline: none;   
}

.input_prod option {
    font-size: 1.6rem;
    padding: 5px;
    font-style: normal;
}

.flex {
    display: flex;
}

#div2 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
}

#div2 div {
    width: 50%;
}

.prods {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}