body{
    background: #ADBC78;
}
p{
    text-align: center;
    font-size: 36px;
    line-height: 44px;
    color:black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.formu{
    margin: 20px auto;
    margin-top: 100px;
    width: 470px;
    height: 1250px;
    border: 2px solid #5E7355;
    background: #f4f4f4;
}

input[name="name"]{
    margin-left: 20px;
    display: block;
    margin-bottom: 25px;
    width: 408px;
    height: 7px;
    background: #e4e4e4;
    border: none;
}
input[name="email"]{
    margin-left: 20px;
    display: block;
    margin-bottom: 25px;
    width: 408px;
    height: 7px;
    background: #e4e4e4;
    border: none;
}
input[name="password"]{
    margin-left: 20px;
    display: block;
    margin-bottom: 25px;
    width: 408px;
    height: 7px;
    background: #e4e4e4;
    border: none;
}
input[name="password2"]{
    margin-left: 20px;
    display: block;
    margin-bottom: 25px;
    width: 408px;
    height: 7px;
    background: #e4e4e4;
    border: none;
}
input[name="cep"]{
    margin-left: 20px;
    display: block;
    margin-bottom: 25px;
    width: 408px;
    height: 7px;
    background: #e4e4e4;
    border: none;
}
input[name="endereco"]{
    margin-left: 20px;
    display: block;
    margin-bottom: 25px;
    width: 408px;
    height: 7px;
    background: #e4e4e4;
    border: none;
}
input[name="cidade"]{
    display: block;
    margin-left: 20px;
    margin-bottom: 25px;
    width: 240px;
    height: 7px;
    background: #e4e4e4;
    border: none;
}
input[name="numero"]{
    display: block;
    margin-left: 20px;
    margin-bottom: 25px;
    width: 240px;
    height: 7px;
    background: #e4e4e4;
    border: none;
}
input[name="bairro"]{
    margin-left: 20px;
    display: block;
    margin-bottom: 25px;
    width: 240px;
    height: 7px;
    background: #e4e4e4;
    border: none;
}
input[name="uf"]{
    margin-left: 20px;
    display: block;
    margin-bottom: 25px;
    width: 240px;
    height: 7px;
    background: #e4e4e4;
    border: none;
}
input[name="fixo"]{
    margin-left: 20px;
    display: block;
    margin-bottom: 25px;
    width: 408px;
    height: 7px;
    background: #e4e4e4;
    border: none;
}
input[name="celular"]{
    margin-left: 20px;
    display: block;
    margin-bottom: 25px;
    width: 408px;
    height: 7px;
    background: #e4e4e4;
    border: none;
}
.telefone{
    margin-left: 20px;
    text-align: left;
}