body{
    background: #ADBC78;
}
.logintxt{
    text-align: center;
    font-size: 36px;
    line-height: 44px;
    color:black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
form{
    margin: 20px auto;
    margin-top: 200px;
    width: 470px;
    height: 390px;
    border: 2px solid #5E7355;
    background: #f4f4f4;
    margin-bottom: 100px;
}
label{
    margin-left: 20px;
    font-size: 24px;
    line-height: 29px;
}
input{
    padding: 10px;
    font-size: inherit;
}
input[name="loginname"]{
    margin-left: 20px;
    display: block;
    margin-bottom: 25px;
    width: 408px;
    height: 7px;
    background: #e4e4e4;
    border: none;
}
input[name="loginpassword"]{
    margin-left: 20px;
    display: block;
    margin-bottom: 25px;
    width: 408px;
    height: 7px;
    background: #e4e4e4;
    border: none;
}
input[type="submit"]{
    cursor: pointer;
    margin-left: 150px;
    display: block;
    margin-top: 40px;
    margin-bottom: 25px;
    width: 160px;
    height: 40px;
    background: #5E7355;
    border: none;
    color: white
}